<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="author" content="Rebecca Sucgang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Rebecca Sucgang's professional website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
    <title>Rebecca Sucgang</title>
</head>
<body onload="addYear()">
    <h1 id="webname">Rebecca Sucgang</h1>
    <nav>
        <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
            <li style="margin-right: 20px;"><a href="../index.html" class="nav-link">About</a></li>
            <li style="margin-right: 20px;"><a href="cv.html" class="nav-link">Resume</a></li>
            <li style="margin-right: 20px;"><a href="fun.html" class="nav-link">Play</a></li>
            <li><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
    </nav>

    <div class="mainLayout">
        <div item1>
            <h2>Things I love to do for fun</h2>
            <!-- <button id="clickToSeeButton" type="button" onclick="showList()">Click to see...</button> -->
            <ul id="funList">
                <li>Reading books</li>
                <li>Crocheting</li>
                <li>Traveling</li>
                <li>Cooking</li>
                <li>Spending time with friends</li>
            </ul>
        </div>
        <div item2>
            <img class="funIMG" src="../static/funIMG.png" alt="">
        </div>
        <div item3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z6PnPkvuhSQ?si=2Z9xsJVKyFuJzcLi" 
            title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div item4>
            <div class="container">
                <h2>Need some advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button id="getAdvice" type="button" onClick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>

    <footer>
        <p id="copyYear">designed 👩🏻‍🎨 and coded 👩🏻‍💻 by Rebecca Sucgang  &copy;</p>
    </footer>
</body>
</html>