<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Rebecca Sucgang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Rebecca Sucgang's professional website">
    <title>Rebecca Sucgang</title>
</head>
<body style="font-family: Arial;"><h1>Rebecca Sucgang</h1>
    <nav>
        <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
            <li style="margin-right: 20px;"><a href="../index.html">Home</a></li>
            <li style="margin-right: 20px;"><a href="cv.html">CV</a></li>
            <li style="margin-right: 20px;"><a href="contact.html">Contact Me</a></li>
            <li><a href="fun.html">For Fun</a></li>
        </ul>
    </nav>

<div class="main">
    <h2>Curriculum Vitae</h2>
    <table>
        <tr><th>Name</th><th>Description</th>
    </tr>
        <tr>
            <td>Education</td>
            <td>Carnegie Mellon University, B.S. in Information Systems</td>
        </tr>
        <tr>
            <td>Relevant Coursework</td>
            <td>Fundamentals of Programming and Computer Science, 
                Information Systems Milieux, Reasoning with Data</td>
        </tr>
        <tr>
            <td>Engineering and Public Policy (EPP) Department, Student Assistant
                (October 2024-Present)
            </td>
            <td>Conducted benchmarking for CMU’s MS in Engineering & Technology Innovation Management (ETIM) by collecting data
                from 9+ top-tier engineering & innovation master’s programs, evaluated key metrics such as curriculum structures, artificial
                intelligence content, post-grad opportunities, & marketing; supported administrative staff with logistics & EPP seminars</td>
        </tr>
        <tr>
            <td>Youphoria App, Business Development Intern (December 2024-January 2025)</td>
            <td>Worked with cross-functional teams to test app feature; gave actionable feedback 
                on product development & marketing to support Youphoria’s mission of combining
                 mental wellness and community for 600+ users</td>
        </tr>
        <tr>
            <td>Couples for Christ-Youth (CFCY) Ministry, Maryland,
                Area Youth Communications Head (January 2023-Present)</td>
            <td>Managed social media for Area CFCY Maryland; created promotional content for events; captured and edited high-quality
                photos at CFCY retreats; directed the Marketing Committee for the 2023 National CFCY Conference with 500+ attendees</td>
        </tr>
        <tr>
            <td>Made by Rebecca Marie, Heade Designer & Business Owner (November 2021-Present)</td>
            <td>Designed and marketed laser-cut wooden earrings on Etsy; managed inventory and sales data for product listings; created
                social media content to drive engagement; donated 15% of profits to the Anne Arundel Community Crisis Response Fund</td>
        </tr>
        <tr>
            <td>CMU Business Technology Group (BTG), ProdHacks Particpant (February 2025)</td>
            <td>Developed "Apple Fitness Rewards", to improve the app’s efficiency and user engagement by integrating gamification and
                AI; conducted market analysis; created an interactive prototype using the Apple iOS toolkit to create a points-based system,
                where users redeem rewards by leveraging Apple Intelligence to analyze user data and provide personalized workouts</td>
        </tr>
        <tr>
            <td>CMU User Experience Association (UXA), Facemoji App x UXA Case Competition Finalist (September 2024)</td>
            <td>Collaborated with a multidisciplinary team on a UX design proposal for an interactive widget and monthly/annual recap
                features in the Facemoji app; conducted extensive user research and data analysis on fostering user connection among
                Generation Z’s daily communication; delivered presentation and findings to the Facemoji App Production Team</td>
        </tr>
    </table>
    <a href="../static/static_resume.pdf" target="_blank">My resume (PDF version)</a>
</div>

<footer>
    <p>&copy; 2025 designed 👩🏻‍🎨 and coded 👩🏻‍💻 by Rebecca Sucgang</p>
</footer>
</body>
</html>