<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="author" content="Rebecca Sucgang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Rebecca Sucgang's professional website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Rebecca Sucgang</title>
</head>
    <h1 id="webname">Rebecca Sucgang</h1>
    <nav>
        <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
            <li style="margin-right: 20px;"><a href="../index.html" class="nav-link">About</a></li>
            <li style="margin-right: 20px;"><a href="cv.html" class="nav-link">Resume</a></li>
            <li style="margin-right: 20px;"><a href="fun.html" class="nav-link">Play</a></li>
            <li><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
    </nav>

<div class="main">
    <h2>Contact Me</h2>
    <form>
        <label for="name">Your name (required)</label>
        <input type="text" id="name" required>
        <label for="email">Your email </label>
        <input type="email" id="email" name="email" required>
        <label for="comment">Your comment</label>
        <textarea id="comment" name="comment" rows="4" cols="50" required 
            style="margin: 0; display: inline-block; vertical-align: bottom;"></textarea>
        <input type="submit" value="Submit">
    </form>
    
    <table>
        <tr><th>Contact Method</th><th>Description</th>
        <tr>
            <td>Phone</td>
            <td>443-254-5815</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>rsucgang@andrew.cmu.edu</td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td>www.linkedin.com/in/rebecca-sucgang</td>
        </tr>
    </table>
</div>

<footer>
    <p>&copy; 2025 designed 👩🏻‍🎨 and coded 👩🏻‍💻 by Rebecca Sucgang</p>
</footer>
</body>
</html>